footer{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 499px) {
        flex-basis: $heading-font-size*2.5;
        font-size: $heading-font-size*0.6;
    }
    @media screen and (min-width: 500px) and (max-width: 1023px) {
        flex-basis: $heading-font-size*1.2;
        font-size: $heading-font-size*0.9;
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        flex-basis: $heading-font-size*1.4;
        font-size: $heading-font-size*0.9;
    }
    @media screen and (min-width: 1280px) and (max-width: 1679px) {
        flex-basis: $heading-font-size*1.8;
        font-size: $heading-font-size*1;
    }
    @media screen and (min-width: 1680px) {
        flex-basis: $heading-font-size*1.8;
        font-size: $heading-font-size*1;
    }
    span{
        margin: 0 0.5em;
        color: base-pal($secondary);
        &.symbol{
            color: base-pal($primary);
        }
        &.fa {
            @media screen and (max-width: 330px) {
                display: none;
            }
        }
    }
    background-color: xdark-pal($bgrey);
    box-shadow: 0px -4px 2px 0px transparentize(xdark-pal($grey2), 0.3);
    z-index: 10;
}
