$base-content-width: 960px;

@import "header";
@import "main";
@import "footer";


html, body, #pageContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pageContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}
