body {
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    color: $base-font-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    @media screen and (max-width: 767px) {
        font-size: $base-font-size*1.3;
        line-height: $base-font-size*2;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: $base-font-size*1.3;
        line-height: $base-font-size*2.2;
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        font-size: $base-font-size*1.4;
        line-height: $base-font-size*2.4;
    }
    @media screen and (min-width: 1280px) and (max-width: 1679px) {
        font-size: $base-font-size*1.4;
        line-height: $base-font-size*2.6;
    }
    @media screen and (min-width: 1680px) {
        font-size: $base-font-size*1.4;
        line-height: $base-font-size*2.8;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: $heading-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}
p {
    margin: 0 0 $small-spacing;
}
a {
    color: $action-color;
    text-decoration: none;
    transition: color 0.1s linear;
    &:active,
    &:focus,
    &:hover {
        color: darken($action-color, 15%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
}
img,
picture {
    margin: 0;
    max-width: 100%;
}
