main[page-name^="index"] {
    .row {
        @media screen and (min-width: 768px) {
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(space-between);

        }
        /*@media screen and (min-width: 1024px) {
            article.coding{margin-left: 5em;}
            article.companies{margin-left: 10em;}
        }*/

        article{
            @include flex-shrink(1);
            @include flex-grow(1);
            width: 1px;//fix for IE11 flex bounds issue
            //@include display(flex);
            &:last-child{
                @media screen and (min-width: 768px) {
                    margin-left: 2em;
                }
            }
            h2 {
                color: dark-pal($primary);
                margin-bottom: 0.1em;
                .fa {
                    margin-right: 0.5em;
                    padding: 0.35em 0.3em 0.2em 0.25em;
                    background-color: dark-pal($primary);
                    color: white;
                    line-height: 1em;
                    height: 1.7em;
                    width: 1.7em;
                    text-align: center;
                    border: 1px solid dark-pal($primary);
                    border-radius: 0.85em;
                    box-shadow: inset transparentize(dark-pal($grey2), 0.5) 0.05em 0.05em 0 0;
                    text-shadow: transparentize(dark-pal($grey2), 0.5) 0.1em 0.1em;
                }
                .fa-graduation-cap{padding: 0.35em 0.35em 0.2em 0.2em;}
                .fa-user{padding: 0.25em 0.3em 0.3em 0.25em;}
                .fa-building{padding: 0.35em 0.25em 0.2em 0.3em;}
                .fa-wrench, .fa-braces, .fa-code{padding: 0.3em 0.3em 0.25em 0.25em;}

            }

            ul{
                @include display(flex);
                @include flex-wrap(wrap);
                li{
                    margin: 0 0.5em 0 0;
                    padding: 0;
                    font-size: 1.1em;
                    color: base-pal($secondary);
                    &:nth-child(2n){
                        color: xdark-pal($secondary);
                    }
                    &[data-grade-normal]{font-size: 1em;}
                    &[data-grade-up]{font-size: 1.3em;}
                    &:after{
                          content: '|';
                          display: inline-block;
                          margin-left: 0.7em;
                    }
                    &:last-child:after{
                        display: none;
                    }
                }
                margin: 0 0 1em 0;
                padding: 0;
            }
            .fa.fa-braces:before{
                content: '{}';
            }
        }

    }

    .scorable{
        position: relative;
        &:after{
            @extend .fa;
            display: none;
            position: absolute;
            font-size: 0.4em;
            top: -3px;
            left: 0px;
        }
        &:hover:after, &.scoreOn:after{
            display: block;
        }
        &[data-score="1"]{
            color: map-get($red-pal, 900);
            &:after {
                content: "\f005\f006\f006\f006";
            }
        }
        &[data-score="2"]{
            color: map-get($indigo-pal, 500);
            &:after {
                content: "\f005\f005\f006\f006";
            }
        }
        &[data-score="3"]{
            color: map-get($teal-pal, 300);
            &:after {
                content: "\f005\f005\f005\f006";
            }
        }
        &[data-score="4"]{
            color: map-get($green-pal, 500);
            &:after {
                content: "\f005\f005\f005\f005";
            }
        }
    }
}
