@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700,800,900|Londrina+Shadow|Varela+Round|Roboto:400,300,100,500,700);

$base-font-family: "Roboto";
$heading-font-family: "Alegreya Sans SC";
$base-font-weight: 400;
$heading-font-weight: 800;
$em-base: 12px;
$base-font-size: $em-base;
$heading-font-size: 1.7em;
$large-screen: 768px;
